Repository vansergen/rpc-bluebird: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

docs(readme): update examples
  README.md
Due: npm run prettier:write

ci(github): use node-buster container
  .github/workflows/ci.yml
Due: none

metadata: update description
  package.json
Due: npm run prettier:write

chore: update version in package-lock
  package-lock.json
Due: npm run prettier:write

chore: update commitlint script
  package.json
Due: npm run prettier:write

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  docs/assets/css/main.css
  docs/assets/images/icons.png
  docs/assets/images/icons@2x.png
  docs/assets/images/widgets.png
  docs/assets/images/widgets@2x.png
  docs/assets/js/main.js
  docs/assets/js/search.json
  docs/classes/fetchclient.html
  docs/classes/unsuccessfulfetch.html
  docs/globals.html
  docs/index.html
  docs/interfaces/fetchclientoptions.html
  docs/interfaces/iclientoptions.html
  docs/modules/_node_fetch_.html
  package-lock.json
  package.json
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  d3fbea3c3274d92db74a95e24093547f566f6b30
Due: none

refactor: fix typo
  src/client.ts
Due: npm run prettier:write, npm run lint:fix

docs: update README
  README.md
Due: npm run prettier:write

fix: upgrade @types/node from 14.14.12 to 14.14.13
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `husky` to `v4.3.6`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: update `@types/node` to `v14.14.14`
  package-lock.json
  package.json
Due: npm run prettier:write

perf: allow to add headers of any (supported) type
  src/client.ts
Due: npm run prettier:write, npm run lint:fix

ci(github): add Node 15
  .github/workflows/ci.yml
Due: none

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  docs/classes/fetchclient.html
  docs/classes/unsuccessfulfetch.html
  docs/globals.html
  docs/index.html
  docs/interfaces/fetchclientoptions.html
  docs/interfaces/iclientoptions.html
  docs/modules/_node_fetch_.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  bb7ab14b8b60f5591937cf3e7169ce4ab27ef9ab
Due: none

fix: upgrade @types/node from 14.14.14 to 14.14.16
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.20.24`
  package-lock.json
  package.json
  typedoc.json
Due: npm run prettier:write

devDependencies: upgrade `lint-staged` to `v10.5.4`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v8.3.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `husky` to `v5.0.9`
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .npmignore
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: upgrade `@types/node` to `v14.14.27`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: add `pinst`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v17.3.9`
  package-lock.json
  package.json
Due: npm run prettier:write

chore(release): 3.0.2 [skip ci]
  CHANGELOG.md
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/assets/js/search.json
  docs/classes/default.html
  docs/classes/unsuccessfulfetch.html
  docs/index.html
  docs/interfaces/fetchclientoptions.html
  docs/interfaces/iclientoptions.html
  docs/modules.html
  docs/modules/_node_fetch_.html
  package-lock.json
  package.json
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  ab8051190cc996b006d455506369693214a4d212
Due: none

fix: upgrade @types/node from 14.14.27 to 14.14.28
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: remove `pinst`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `husky` to `v5.1.3`
  .husky/.gitignore
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `@types/mocha` to `v8.2.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v8.3.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.20.30`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v17.4.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `eslint-config-b2broker-ts` to `v1.0.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `commitlint-config-b2broker` to `v1.0.2`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: upgrade `@types/node` to `v14.14.32`
  package-lock.json
  package.json
Due: npm run prettier:write

chore: update `package-lock.json`
  package-lock.json
Due: npm run prettier:write

chore(release): 3.0.3 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/unsuccessfulfetch.html
  docs/interfaces/fetchclientoptions.html
  docs/interfaces/iclientoptions.html
  package-lock.json
  package.json
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  551af395a2cc4c55268cb4a2ca4c6f80d5ced3b1
Due: none

fix: upgrade @types/node from 14.14.32 to 14.14.33
  package-lock.json
  package.json
Due: npm run prettier:write

Path conditions:
  npm run prettier:write: any of: *.{js,ts,json,md}
  npm run lint:fix: any of: *.{ts,js}
