Repository vansergen/rpc-bluebird: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc:

"*.{js,ts,json,md}":
  - npm run prettier:write

"*.{ts,js}":
  - npm run lint:fix

chore: add husky config
  .huskyrc.json
  .npmignore
  package.json
Due: npm run prettier:write

chore: update tsconfig
  package.json
  tsconfig.json
Due: npm run prettier:write

style: run pretiier
  README.md
  index.ts
  src/rpc.ts
  test/lib/server.ts
  test/rpc.spec.ts
Due: npm run prettier:write, npm run lint:fix

chore: update eslint config
  .eslintrc.json
Due: npm run prettier:write

dependencies: add bluebird
  package-lock.json
  package.json
Due: npm run prettier:write

chore: fix typo
  package.json
Due: npm run prettier:write

fix: upgrade snyk from 1.316.2 to 1.370.0
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: npm update
  package-lock.json
  package.json
Due: npm run prettier:write

style: run prettier
  README.md
  test/rpc.spec.ts
Due: npm run prettier:write, npm run lint:fix

dependencies: remove snyk
  package-lock.json
  package.json
Due: npm run prettier:write

chore: update .gitignore
  .npmignore
Due: none

metadata: bump version to 2.0.3
  package-lock.json
  package.json
Due: npm run prettier:write

ci: add node 14
  .github/workflows/ci.yml
Due: none

devDependencies: add @b2broker/tsconfig
  package-lock.json
  package.json
  tsconfig.json
Due: npm run prettier:write

devDependencies: add commitlint-config-b2broker
  .commitlintrc.json
  .huskyrc.json
  package-lock.json
  package.json
Due: npm run prettier:write

chore: use json format for lintstagedrc
  .lintstagedrc
  .lintstagedrc.json
Due: npm run prettier:write

devDependencies: add eslint-config-b2broker-ts
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run prettier:write

docs: update Code of Conduct
  CODE_OF_CONDUCT.md
Due: npm run prettier:write

dependencies: add @types/node
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: update `@types/bluebird` to `v3.5.33`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `ts-node` to `v9.1.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `mocha` to `v8.2.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `@types/mocha` to `v8.2.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `husky` to `v4.3.5`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `lint-staged` to `v10.5.3`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `prettier` to `v2.2.1`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: update `node-fetch` to `v3.0.0-beta.9`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: add typedoc
  .prettierignore
  .prettierignore_docs
  package-lock.json
  package.json
  typedoc.json
Due: npm run prettier:write

ci(github): add pgp key
  .github/pgp/key.asc.gpg
Due: none

ci(github): add scripts
  .github/scripts/cleanup.sh
  .github/scripts/decrypt.sh
  .github/scripts/encrypt.sh
  .github/scripts/git.sh
  .github/scripts/gpg.sh
Due: none

chore: update .gitignore
  .gitattributes
  .gitignore
Due: none

chore: update .npmignore
  .npmignore
Due: none

feat: export the `UnsuccessfulFetch` class
  index.ts
  package.json
  src/error.ts
Due: npm run prettier:write, npm run lint:fix

feat!: export the `FetchClient` class
  index.ts
  package.json
  src/client.ts
  src/rpc.ts
Due: npm run prettier:write, npm run lint:fix

test: add `FetchClient`
  test/client.spec.ts
  test/lib/server.ts
  test/rpc.spec.ts
Due: npm run prettier:write, npm run lint:fix

devDependencies: add semantic-release
  .releaserc.json
  package-lock.json
  package.json
Due: npm run prettier:write

chore!: drop node `<12.20.0` support
  package.json
Due: npm run prettier:write

fix: upgrade @types/request-promise from 4.1.46 to 4.1.47
  package-lock.json
  package.json
Due: npm run prettier:write

refactor: remove `.js` extension
  index.ts
  src/client.ts
  test/client.spec.ts
Due: npm run prettier:write, npm run lint:fix

ci(github): update workflow
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: npm run prettier:write
