Repository vansergen/rpc-bluebird: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc:

"*.{js,ts,json,md}":
  - npm run prettier:write

"*.{ts,js}":
  - npm run lint:fix

fix: upgrade @types/bluebird from 3.5.33 to 3.5.34
  package-lock.json
  package.json
Due: npm run prettier:write

fix: upgrade node-fetch from 3.0.0-beta.9 to 3.0.0
  package-lock.json
  package.json
Due: npm run prettier:write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npm run prettier:write

chore: rename the default branch to `main`
  .releaserc.json
  README.md
  typedoc.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.22.15`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `ts-node` to `v10.7.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `prettier` to `v2.6.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v10.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `lint-staged` to `v12.4.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `husky` to `v8.0.1`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: remove `@types/node`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `eslint-config-b2broker-ts` to `v2.0.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `commitlint-config-b2broker` to `v1.0.7`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `coveralls` to `v3.1.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `@types/mocha` to `v9.1.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v19.0.2`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: upgrade `domexception` to `v4.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

peerDependencies: add `@types/bluebird`
  package-lock.json
  package.json
Due: npm run prettier:write

style: run `prettier`
  src/client.ts
Due: npm run prettier:write, npm run lint:fix

dependencies: remove `domexception`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: use `v3.0.0-beta.9` for `node-fetch`
  package-lock.json
  package.json
Due: npm run prettier:write

ci: update action branches
  .github/workflows/ci.yml
Due: none

perf!: drop Node.js `<16.15.0` support
  package-lock.json
  package.json
Due: npm run prettier:write

ci: remove Node.js `<16` from the strategy
  .github/workflows/ci.yml
Due: none

ci: use `Node.js` actions instead of containers
  .github/workflows/ci.yml
Due: none

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  docs/.nojekyll
  docs/assets/css/main.css
  docs/assets/highlight.css
  docs/assets/icons.css
  docs/assets/icons.png
  docs/assets/icons@2x.png
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/assets/widgets.png
  docs/assets/widgets@2x.png
  docs/classes/FetchClient.html
  docs/classes/UnsuccessfulFetch.html
  docs/classes/fetchclient.html
  docs/index.html
  docs/interfaces/FetchClientOptions.html
  docs/interfaces/IClientOptions.html
  docs/modules.html
  package-lock.json
  package.json
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  3ca34aaf692348c178a4e2520b132b9b70bbbba6
Due: none

chore: update the `package.json` file
  package.json
Due: npm run prettier:write

ci: add Node.js 17 and 18
  .github/workflows/ci.yml
Due: none

devDependencies: add `c8`
  package-lock.json
  package.json
Due: npm run prettier:write

perf!: change the package type from `commonjs` to `module`
  .github/workflows/ci.yml
  index.ts
  package.json
  src/client.ts
  test/client.spec.ts
  test/lib/server.ts
  tsconfig.json
Due: npm run prettier:write, npm run lint:fix

chore: add `c8` config
  .c8rc.json
  .npmignore
Due: npm run prettier:write

chore: update `semantic-release` config
  .releaserc.json
Due: npm run prettier:write

style: run prettier
  .commitlintrc.json
  .eslintrc.json
Due: npm run prettier:write

chore: run eslint only on `.ts` files
  .lintstagedrc.json
Due: npm run prettier:write

chore: update `.prettierignore`
  .prettierignore
Due: none

ci: update the `coverage` step
  .github/workflows/ci.yml
Due: none

devDependencies: remove `coveralls`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: remove `nyc`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: upgrade `node-fetch` to `v3.2.4`
  package-lock.json
  package.json
Due: npm run prettier:write
