Repository vansergen/rpc-bluebird: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc:

"*.{js,ts,json,md}":
  - npm run prettier:write

"*.{ts,js}":
  - npm run lint:fix

chore: use named imports
  src/client.ts
  src/error.ts
  test/client.spec.ts
Due: npm run prettier:write, npm run lint:fix

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
  docs/classes/FetchClient.html
  docs/interfaces/FetchClientOptions.html
  docs/interfaces/IClientOptions.html
  docs/modules.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  d7e1049a73f6ee4fbaee4b11e63bb1054eb90879
Due: none

dependencies: upgrade `node-fetch` to `v3.2.6`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: `npm update`
  package-lock.json
  package.json
Due: npm run prettier:write

chore(release): 5.0.1 [skip ci]
  CHANGELOG.md
  docs/assets/main.js
  docs/classes/FetchClient.html
  docs/classes/UnsuccessfulFetch.html
  docs/modules.html
  package-lock.json
  package.json
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  2f0f1aa2863d209749f6698c9ece878a40959bd1
Due: none
